.root {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: center/cover url(~@/assets/login.png);
  // :global包裹起来的语法，css module 不会对它进行处理，还是全局的那种样式
  :global {
    .login-container {
      width: 440px;
      height: 300px;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    }

    .login-logo {
      width: 200px;
      height: 60px;
      display: block;
      margin: 0 auto 20px;
    }
  }
}
